@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: 0;
    border: 0;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* primary styles */
.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: #FD6E0A;
    border-radius: 10px;
    cursor: pointer;
}

/* nav styles */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.logo {
    font-size: 45px;
    font-weight: 800;
}

.link-container {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;

}

.link-container a {
    color: #474747;
}