@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: 0;
    border: 0;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* primary styles */
.bg-secondary{
    background-color: #FFF8F3
}
.primary-color {
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.primary-btn {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: #FD6E0A;
    border-radius: 10px;
    cursor: pointer;
}

/* nav styles */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* max-width: 1300px; */
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position:top left,  bottom right;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.logo {
    font-size: 45px;
    font-weight: 800;
    margin-left: 150px;
}

.link-container {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    margin-right: 50px;

}

.link-container a {
    color: #474747;
}


/* Banner Styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 50px 0 150px;
    justify-content: space-between;
    
}
.banner-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.banner-content h3{
    font-size: 45px;
    font-weight: 600;
}

.banner-content h2{
    font-size: 80px;
    font-weight: bold;
}

.banner-content p{
    font-size: 18px;
}
.banner-img img{
    width: 100%;
    margin-top: 100px;
}

/* about styles */
.about{
    padding: 120px 140px;
    margin: 120px auto;
    text-align: center;

}

.about-heading{
    font-size: 35px;
    font-weight: bold;
}

.about-description{
    margin: 30px 0;
    font-size: 18px;
}

.about-items{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.item-description{
    font-weight: bold;
    color: #000;
    margin-top: 15px;
}